@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');

:root {
  --bg-primary: linear-gradient(to right bottom, #1F2937, #111827);

  --text-white: #FFF;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

body {
  font-size: 62.5%;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
  background-image: var(--bg-primary);
  background-repeat: no-repeat;
}


@keyframes moveInLeft {
    0% {
      opacity: 0;
      transform: translateX(-100px);
    }

    100% {
      opacity: 100;
      transform: translateX(0);
    }
}

@keyframes moveInBottom {
  0% {
    opacity: 0;
    transform: translateY(100px);
  }

  100% {
    opacity: 100;
    transform: translateY(0);
  }
}